@let form = appFormHelper.form;
<form [formRoot]="form" (submit)="confirmar()">
  <fieldset>
    <legend>Text Input</legend>
    <div style="display: inline-flex; flex-direction: column; gap: 10px;">
      <input type="text" [formField]="form.text">

      <!-- <input type="date" [formField]="form.data"> -->
      <!-- <input type="date" [formField]="$any(form.data)" appAsLocalDate> -->

      <date-input [formField]="form.data" style="border-color: grey;" minDate="2026-04-11" maxDate="2026-04-15"></date-input>
      
      @for (err of form.mesAno().errors(); track $index) {
        <p>{{err.kind}}: {{err.message}} {{err}}</p>
      }
      <!-- <input type="text" inputmode="numeric" [formField]="$any(form.mesAno)" mask="0000-M0" [leadZeroDateTime]="true"> -->
      <monthyear-input [formField]="form.mesAno"></monthyear-input>

      <time-input [formField]="form.horario"></time-input>

      <input type="text" inputmode="numeric" [formField]="form.valor" currencyMask>

      <input type="number" [formField]="form.quantidade" [appNumberMaxLength]="3" appDigitsOnly>
    </div>
  </fieldset>

  <fieldset>
    <legend>Select</legend>
    <div style="display: inline-flex; flex-direction: column; gap: 10px;">
      <select [formField]="$any(form.inputId)" appAsNumber>
        <!-- <select [formField]="form.inputId"> -->
        <option [value]="null">Selecione</option>
        <option [value]="1">Option 1</option>
        <option [value]="2">Option 2</option>
        <option [value]="3">Option 3</option>
      </select>

      <select [formField]="form.correcaoMonetariaId">
        <option value="">Selecione</option>
        @for (cm of appFormHelper.listaCorrecaoMonetaria; track $index) {
        <option [value]="cm.id">{{cm.nome}}</option>
        }
      </select>

      <select [formField]="$any(form.cidadeId)" appAsNumber>
        <option [value]="null">Selecione</option>
        @for (cidade of appFormHelper.listaCidade; track $index) {
        <option [value]="cidade.id">{{cidade.nome}}</option>
        }
      </select>
    </div>
  </fieldset>

  <fieldset>
    <legend>Radio</legend>
    <label style="display: block;">
      <input type="radio" [formField]="form.radionOption" [value]="OptionsEnum.Option1">
      Option 1
    </label>
    <label style="display: block;">
      <input type="radio" [formField]="form.radionOption" [value]="OptionsEnum.Option2">
      Option 2
    </label>
    <label style="display: block;">
      <input type="radio" [formField]="form.radionOption" [value]="OptionsEnum.Option3">
      Option 3
    </label>
  </fieldset>

  <button>Confirmar</button>
  <button type="button" (click)="limpar()">Limpar</button>
</form>